body {
  background: var(--primary-color-500);
  color: var(--primary-color-900);
  font-family: var(--primary-font);
  font-size: var(--font-size-1);
  font-style: normal;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-2);
}

h5 {
  font-size: var(--font-size-1);
}
