:root {
  --primary-font: Aquatico, Arial, sans-serif;

  --primary-color-100: #e0f2fe;
  --primary-color-200: #bae6fd;
  --primary-color-300: #7dd3fc;
  --primary-color-400: #38bdf8;
  --primary-color-500: #0ea5e9;
  --primary-color-600: #0284c7;
  --primary-color-700: #0369a1;
  --primary-color-800: #075985;
  --primary-color-900: #0c4a6e;
}
